.client-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.client-label {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    /* Add font-weight: bold */
    color: #fcfafa;
    /* Update the color as desired */
}

.client-list {
    display: flex;
    justify-content: center;
}

.client-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.client-logo {
    width: 120px;
    height: 120px;
    margin: 10px;
    transition: transform 0.3s;
}

.client-logo:hover {
    transform: scale(1.1);
}

.client-name {
    font-size: 14px;
    text-align: center;
}